streamlit
flask
pandas
numpy
scikit-learn
spacy
matplotlib
matplotlib-venn
PyMuPDF
google-genai
python-dotenv
jupyter
notebook
wordcloud
flask
flask-cors
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz